:root {
  --main-red: rgb(96, 23, 30);
  --main-yellow: rgb(237, 195, 28);
}

body {
  background-color: var(--main-red);
  font-family: 'Muli', sans-serif;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 35fr 1fr;
}

ul {
  list-style-type: none;
  line-height: 1.5em;
}

span {
  color: var(--main-red);
}

textarea {
  margin-bottom: 15px;
}

#submit {
  width: 100px;
  height: 55px;
  border-radius: 5%;
  background-color: var(--main-red);
  margin-bottom: 15px;
  color: white;
  border-style: none;
}

#submit:hover {
  background-color: rgb(129, 31, 41);
}

form {
  display: grid;
  grid-row: 2 / 3;
  min-height: 85vh;
  max-width: 95%;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.3fr 0.5fr 0.75fr 1fr;
  grid-row-gap: 20px;
  background-color: white;
  border-radius: 15px;
  border: 10px solid var(--main-yellow);
  grid-template-areas: "intro"
    "zipcode"
    "contact"
    "gender"
    "update-title"
    "updates"
    "comments";
}

.form-intro {
  grid-area: intro;
}

#dropdown {
  grid-area: zipcode;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows:repeat(3, 25px);
  grid-row-gap: 10px;
  grid-area: contact;
  padding-top: 10px;
}

.gender {
  grid-area: gender;
}

.update-title {
  grid-area: update-title;
}

.updates {
  grid-area: updates;
  text-align: left;
  font-size: 0.8em;
}

.comments {
  grid-area: comments;
}

.contact input {
  width: 200px;
}

@media only screen and (min-width: 1400px) {
  form {
    height: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
    width: 75%;
    grid-template-areas: ". intro intro ."
    ". zipcode zipcode ."
    ". contact gender ."
    ". update-title update-title ."
    ". updates updates ."
    ". comments comments .";
  }  
}