
body {
    font-family: 'galada', cursive;
    background-color: rgb(96, 23, 30);
    margin-top: -30px;
}

#title {
    color: rgb(237, 195, 28);
    font-family: 'Muli', sans-serif;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

#description {
    color: black;
    font-family: 'Spirax', cursive;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}  
/* Mobile */
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1px;
}

/* Desktop */
@media screen and (min-width: 750px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
    }
}

#survey-form {
    max-width: 60%;
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(237, 195, 28);
    padding-top: 10px;
    padding-bottom: 10px;
}

div {
    text-align: center; 
}

p {
    text-align: right;
}

#name {
    text-align: auto;
}

#email {
    text-align: left;
}

#number {
    text-align: auto;
}

#name-label {
    display: grid;
    text-align: right;
    align-items: center;
}

#email-label {
    display: grid;
    text-align: right;
    align-items: center; 
}

#number-label {
    display: grid;
    text-align: right;
    align-items: center;
}

#dropdown {
    text-align: auto;
}

#submit {
    text-align: auto;
    background-color: rgb(66, 133, 244);

}