
body {
    font-family: 'Muli', sans-serif;
    background-color: rgb(96, 23, 30);
}

#title {
    color: rgb(237, 195, 28);
    font-family: 'Muli', sans-serif;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

#description {
    color: black;
    font-family: 'Muli', sans-serif;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}  
/* mobile */
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1px;
  grid-column-gap: 10px;
}

/* desktop */
@media screen and (min-width: 750px) {
    .wrapper {
        /*grid-template-columns: repeat(3, 1fr);*/
        grid-template-columns: 1fr 1fr 1fr; 
        grid-row-gap: 2px;
        grid-column-gap: 10px;
    }
}

#survey-form {
    max-width: 80%;
    min-height: 70vh;
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    border-radius: 40px;
    border-style: solid;
    border-color: rgb(237, 195, 28);
    padding-top: 20px;
    padding-bottom: 30px;
}

div {
    text-align: center; 
}

p {
    text-align: auto;
}

#name {
    text-align: auto;
}

#email {
    text-align: auto;
}

#number {
    text-align: auto;
}

#name-label {
    display: grid;
    text-align: right;
    align-items: center;
}

#email-label {
    display: grid;
    text-align: right;
    align-items: center; 
}

#number-label {
    display: grid;
    text-align: right;
    align-items: center;
}

#dropdown {
    display: grid;
    text-align: center;
    align-items: center;
}

#allUpdates {
    text-align: auto;
}

#checkbox {
    display: grid;
    text-align: center;
}

#labelName {
    text-align: auto;
}

#submit {
    text-align: center;
    }